<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2 link-set">
            <h5>Cooperation</h5>
            <ul class="list-unstyled list-custom">
                <li><a href="http://www.northeastern.edu/">Northeastern University</a></li>
            </ul>
        </div>
        <div class="col-sm-2 link-set">
            <h5>Author</h5>
            <ul class="list-unstyled list-custom">
                <li><a href="https://www.linkedin.com/in/xin-huang-6b8124b0">©2015, made by Xin Huang</a></li>
            </ul>
        </div>
        <div class="col-sm-2 link-set">
            <h5>Help</h5>
            <ul class="list-unstyled list-custom">
                <li><a>Contact Us</a></li>
                <!--<li><a>FAQ</a></li>-->
            </ul>
        </div>
    </div>
</div>