<div class="main page-offset">
    <div class="container-fluid">
        <section class="row col-xs-12 col-sm-10 col-md-8 my-listing col-centered">
            <h3>My Listings</h3>
            <ul class="property-list">
                <li class="property clearfix">
                    <div class="property-image col-xs-12 col-sm-4">
                        <img src="img/BBQ.jpg" alt="Living" class="search-image"/>
                    </div>
                    <div class="property-details col-xs-12 col-sm-8">
                        <button type="button" class="btn btn-danger edit-button" id="edit-listing" aria-label="Pencil">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <a href="#/result"><span class="glyphicon glyphicon-chevron-right indicator"
                                                 aria-hidden="true"></span></a>


                        <div class="description col-xs-11 col-sm-11">
                            <h4>Sould Fire BBQ</h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                               Deleniti dolor dolores doloribus eius eligendi enim id inventore
                               iusto mollitia odit officiis possimus quibusdam quod
                               reprehenderit tempora temporibus vel velit, veniam?</p>
                        </div>
                        <!--<ul class="list-inline col-xs-12 details">-->
                            <!--<li>Bed 2</li>-->
                            <!--<li>Bath 1</li>-->
                        <!--</ul>-->
                        <!--<ul class="list-inline col-xs-12 details">-->
                            <!--<li>Pets No</li>-->
                            <!--<li>Heat Not Included</li>-->
                        <!--</ul>-->
                    </div>
                </li>
            </ul>
        <!--</section>-->
        <!--<section class="row col-xs-12 col-sm-8 pinned col-centered">-->
            <!--<h3>Pinned</h3>-->
            <!--<ul class="property-list">-->
                <!--<li class="property pinned-property clearfix">-->
                    <!--<h4 class="col-xs-8 col-sm-10">440 Huntington Ave, Boston, MA - 02115</h4>-->

                    <!--<div class="col-xs-4 col-sm-2"><a href="#/result">View Details</a></div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</section>-->
    </div>
</div>