<div class="main page-offset">
    <div class="form-panel col-xs-11 col-sm-8 col-md-4 col-centered">
        <h3>Register</h3>

        <div ng-if="regError" class="alert alert-danger alert-dismissible alert-custom" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span>{{ regError }}</span>
        </div>
        <div class="form-holder">
            <form action="">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input ng-model="firstName" type="text" class="form-control" id="firstName" placeholder="John"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input ng-model="lastName" type="text" class="form-control" id="lastName" placeholder="Smith"/>
                </div>
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input ng-model="userName" type="text" class="form-control" id="userName" placeholder="smithjohn"/>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input ng-model="email" type="email" class="form-control" id="emailAddress" placeholder="john.smith@example.com"/>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input ng-model="password" type="password" class="form-control" id="inputPassword" placeholder="Choose password"/>
                </div>
                <div class="form-group">
                    <label for="inputVerifyPassword">Verify Password</label>
                    <input ng-model="verifyPassword" type="password" class="form-control" id="inputVerifyPassword" placeholder="Verify password"/>
                </div>
                <a class="btn btn-custom" role="button" ng-click="register()">Register</a>
            </form>
        </div>
    </div>
</div>