<div class="main page-offset">
    <div class="form-panel col-xs-11 col-sm-6 col-md-4 col-centered">
        <h3>Login</h3>
        <div ng-if="loginerror" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span>{{ loginErrorMessage }}</span>
        </div>
        <div class="form-holder">
            <form action="">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input ng-model="userName" type="text" class="form-control" id="username" placeholder="johnsmith"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input ng-model="password" type="password" class="form-control" id="password" placeholder="Enter your password"/>
                </div>
                <a class="btn btn-custom" role="button" ng-click="login()">Login</a>
            </form>
        </div>
    </div>
</div>