<div class="main no-margin">
    <div class="image-holder">
        <div class="col-xs-10 col-sm-6 col-centered search-prompt">
            <h3>Search Movies</h3>
            <form class="form-horizontal">
                <div class="form-group form-group-lg">
                    <div class="col-xs-10 search-form-input">
                        <input class="form-control search-box" type="text" id="search" placeholder="Please enter the movie`s title">
                    </div>
                    <a href="#/search" class="btn btn-custom col-xs-2 search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                </div>
            </form>
        </div>
    </div>
</div>

