<div class="main no-margin">
    <div class="image-holder">
        <div class="col-xs-10 col-sm-6 col-centered search-prompt">
            <h3>Search Restaurant</h3>
            <form class="form-horizontal">
                <div class="form-group form-group-lg">
                    <div class="col-xs-10 search-form-input">
                        <input class="form-control search-box" type="text" id="search" placeholder="Please enter the restaurant`s name">
                    </div>
                    <a href="#/search" class="btn btn-custom col-xs-2 search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                </div>
            </form>
        </div>
    </div>
    <!--<div class="hero col-sm-10 col-centered clearfix">-->
        <!--<h3 class="hero-title">How It Works</h3>-->
        <!--<div class="col-sm-6 hero-panel">-->
            <!--<div class="panel panel-custom">-->
                <!--<div class="panel-heading"><h4>Home Owners</h4></div>-->
                <!--<div class="panel-body">-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id minus, porro! A consequuntur delectus-->
                       <!--dignissimos dolores laboriosam, nostrum odit pariatur qui suscipit tempora tempore totam unde-->
                       <!--voluptatem. Incidunt, inventore veniam!</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6 hero-panel">-->
            <!--<div class="panel panel-custom">-->
                <!--<div class="panel-heading"><h4>Home Seekers</h4></div>-->
                <!--<div class="panel-body">-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, nisi nobis. Blanditiis consequatur-->
                       <!--deserunt doloremque excepturi laudantium molestias obcaecati, temporibus. Aliquid aperiam dignissimos-->
                       <!--eveniet libero omnis optio, quidem rem sequi!</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

