<div class="main page-offset">
    <div class="row clearfix no-margin">
        <div class="search-container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2">
            <h3>Search Movies By Title</h3>

            <!--<form class="form-horizontal">-->
                <!--<div class="form-group form-group-lg">-->
                    <!--<div class="col-xs-10 search-form-input">-->
                        <!--<input class="form-control search-box" type="text" id="search" placeholder="Restaurant">-->
                    <!--</div>-->
                    <!--<a href="#/search" class="btn btn-custom col-xs-2 search-button"><span-->
                            <!--class="glyphicon glyphicon-search"-->
                            <!--aria-hidden="true"></span></a>-->
                <!--</div>-->
            <!--</form>-->
            <form class="form-horizontal">
                <div class="form-group form-group-lg">
                    <div class="col-xs-10 search-form-input">
                        <input ng-model="movie.title" class="form-control search-box" type="text" id="search" placeholder="Movie title">
                    </div>

                    <a ng-click="model.search(movie.title)" class="btn btn-custom col-xs-2 search-button"><span
                            class="glyphicon glyphicon-search"
                            aria-hidden="true"></span></a>

                </div>
            </form>

        </div>
    </div>


    <div class="col-xs-11 col-md-9 col-centered">
        <h4>Movies</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th>IMDB ID</th>-->
                    <th>Title</th>
                    <th>Like</th>
                </tr>
            </thead>
            <tbody>

            <!--<tr>-->
                <!--<td>321</td>-->
                <!--<td>-->
                    <!--<a href="#/result/tt0111946">Dumb and Dubmber</a>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<button ng-click="model.like(tt0111946)" class="btn btn-info">-->
                        <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                    <!--</button>-->
                <!--</td>-->
            <!--</tr>-->

                <tr ng-repeat="movie in model.response">
                    <!--<td>{{movie.idIMDB}}</td>-->
                    <td>
                        <a href="#/result/{{movie.idIMDB}}">{{movie.title}}</a>
                    </td>
                    <td>
                        <button ng-click="model.like(movie)" class="btn btn-info">
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!--<div class="col-xs-11 col-md-9 col-centered">-->
        <!--<ul class="property-list">-->
            <!--<li class="property clearfix">-->
                <!--<div class="property-image col-xs-12 col-sm-4">-->
                    <!--<img src="img/BBQ.jpg" alt="Living" class="search-image"/>-->
                <!--</div>-->
                <!--<div class="property-details col-xs-12 col-sm-8">-->
                    <!--<button type="button" class="btn btn-danger edit-button" id="edit-listing" aria-label="Pencil">-->
                        <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
                    <!--</button>-->
                    <!--<a href="#/result"><span class="glyphicon glyphicon-chevron-right indicator"-->
                                             <!--aria-hidden="true"></span></a>-->


                    <!--<div class="description col-xs-11 col-sm-11">-->


                        <!--<h4>Movie</h4>-->

                        <!--<p>{{response}}</p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<ul class="list-inline col-xs-12 details">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>Bed 2</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>Bath 1</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="list-inline col-xs-12 details">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>Pets No</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>Heat Not Included</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>