<html>
    <head>Search</head>
    <body>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="container" ng-controller="SearchController">
                <h1>Search</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Rate</th>
                        <th>
                            <button ng-click="model.search()" class="btn btn-success form-control">Search</button>
                        </th>
                    </tr>
                    </thead>
                        <tr>
                            <input class="form-control" ng-model="course.title"/>
                        </tr>
                    <tbody>

                    </tbody>
                </table>

            </div>

        </div>
    </body>

</html>