<!DOCTYPE HTML>
<html>
<head>
  <title>Multicusine  Website Template | About  :: W3layouts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="../../css/style.css" rel="stylesheet" type="text/css"  media="all" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 </head>
  <body>
	<!----start-header----->
	<!--
	 <div class="header">
	     <div class="wrap">
			<div class="top-header">
				<div class="logo">
					<a href="../../index.html"><img src="../../images/logo.png" title="logo" /></a>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="#"><img src="../../images/facebook.png" title="facebook" /></a></li>
						<li><a href="#"><img src="../../images/twitter.png" title="twitter" /></a></li>
						<li><a href="#"><img src="../../images/google.png" title="google pluse" /></a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<!---start-top-nav---->
			 <!--
			<div class="top-nav">
				<div class="top-nav-left">
					<ul>
						<li><a href="../../index.html">Home</a></li>
						<li  class="active"><a href="about.html">About</a></li>
						<li><a href="../../gallery.html">Gallery</a></li>
						<li><a href="../../contact.html">Contact</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="top-nav-right">
					<form>
						<input type="text"><input type="submit" value="" />
					</form>
				</div>
				<div class="clear"> </div>
			</div>
			-->
			<!---End-top-nav---->
	<!--
		</div>
	</div>
	-->
   <!----End-header----->

		 <!---start-content---->
		 <div class="content">
		 	<!---start-about---->
		 	<div class="about-us">
		 			<div class="wrap">
						<div class="about-header">
							<h3>About us</h3>
							<div class="clear"> </div>
						</div>
						<div class="about-info">
							<p>
								This is a awesome application which will help you find the best restaurant you want and you can easily
								share this information with your freinds.
							</p>
						</div>
					<div class="specials">
					<div class="specials-heading">
						<h3>Today Special</h3>
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
					<div class="specials-grids">
						<div class="special-grid">
							<img src="../../images/slider2.jpg" title="image-name">
							<a href="#">Lorem ipsum dolor</a>
							<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="special-grid">
							<img src="../../images/slider1.jpg" title="image-name">
							<a href="#">volutpat luctus</a>
							<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="special-grid spe-grid">
							<img src="../../images/slider4.jpg" title="image-name">
							<a href="#">Quisque erat metus</a>
							<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
					</div>
					</div>

		 	<!---End-about---->
		 </div>
		 <!---End-content---->

	</body>
</html>

