<!--
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" ng-controller ="SidebarController">
        <li ng-class="{'active': $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
        <li ng-class="{'active': $location.url().indexOf('profile') != -1}"><a href="#/profile">Profile</a></li>
        <li ng-class="{'active': $location.url().indexOf('search') != -1}"><a href="#/search">Search</a></li>
        <li ng-class="{'active': $location.url().indexOf('friend') != -1}"><a href="#/friend">Friend</a></li>
        <li ng-class="{'active': $location.url().indexOf('form') != -1}"><a href="#/form">Meal Plans</a></li>
    </ul>
</div>
-->
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-nav-left">
                <ul ng-controller="HeaderController">
                    <li ng-class="{'active': $location.url().indexOf('home') != -1}"><a href="#/">Home</a></li>
                    <li ng-class="{'active': $location.url().indexOf('about') != -1}"><a href="#/about">About</a></li>
                    <li ng-class="{'active': $location.url().indexOf('gallery') != -1}"><a href="#/gallery">Gallery</a></li>
                    <li ng-class="{'active': $location.url().indexOf('contact') != -1}"><a href="#/contact">Contact</a></li>
                    <li ng-class="{'active': $location.url().indexOf('friend') != -1}"><a href="#/friend">Friend</a></li>


                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="top-nav-right">
                <form>
                    <input type="text"><input type="submit" value="" />
                </form>
            </div>
            <div class="clear"> </div>
        </div>
        <!---End-top-nav---->

