<div class="main page-offset">
    <div class="form-panel col-xs-10 col-sm-6 col-md-4 col-centered">
        <h3>Profile</h3>
        <div class="form-holder">
            <form action="">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="John"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Smith"/>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="john.smith@example.com"/>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Choose password"/>
                </div>
                <div class="form-group">
                    <label for="inputVerifyPassword">Verify Password</label>
                    <input type="password" class="form-control" id="inputVerifyPassword" placeholder="Verify password"/>
                </div>
                <a class="btn btn-custom" role="button">Update</a>
            </form>
        </div>
    </div>
</div>