<div class="main page-offset">
    <div class="row clearfix no-margin">
        <div class="search-container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2">
            <h3>User List</h3>

        </div>
    </div>

    <div class="col-xs-11 col-md-9 col-centered">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Follow</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="user in model.users">
                <td>
                    <a href="#/userprofile/{{user.username}}/{{user.firstname}}/{{user.lastname}}/{{user.email}}">{{user.username}}</a>
                </td>
                <td>{{user.role}}</td>
                <td>
                    <button ng-click="model.follow(user)" class="btn btn-info">
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>