<div class="main page-offset">
    <div class="row clearfix no-margin">
        <div class="search-container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2">
            <h3>Search User By Username</h3>

            <form class="form-horizontal">
                <div class="form-group form-group-lg">
                    <div class="col-xs-10 search-form-input">
                        <!--<input ng-model="model.username" class="form-control search-box" type="text" id="search" placeholder="Username">-->
                        <!--<input id="pwd" ng-model="model.user.pwd" type="password" class="form-control" placeholder="Password">-->
                    </div>
                    <!--<button ng-click="model.find()" class="btn btn-warning form-control">findallusers</button>-->
                    <a ng-click="model.find()" class="btn btn-custom col-xs-2 search-button"><span
                            class="glyphicon glyphicon-search"
                            aria-hidden="true"></span></a>
                </div>
            </form>

        </div>
    </div>


    <div class="col-xs-11 col-md-9 col-centered">
        <h4>Users</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Follow</th>
                <!--<th>Actions</th>-->
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--<input class="form-control" ng-model="model.user.username"/>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<input class="form-control" ng-model="model.user.role"/>-->
                <!--</td>-->
                <!--<td></td>-->
                <!--<td>-->
                    <!--&lt;!&ndash;<button class="btn btn-primary"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-click="model.create(user)">Create</button>&ndash;&gt;-->
                    <!--<button class="btn btn-success"-->
                            <!--ng-click="model.update(model.user)">Update</button>-->
                <!--</td>-->
            <!--</tr>-->
            </thead>

            <tbody>
            <tr ng-repeat="user in model.users">
                <td>
                    <a href="#/userprofile/{{user.username}}/{{user.firstname}}/{{user.lastname}}/{{user.email}}">{{user.username}}</a>
                </td>
                <td>{{user.role}}</td>
                <td>
                    <button ng-click="model.follow(user)" class="btn btn-info">
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </button>
                </td>
                <!--<td>-->
                    <!--<button ng-click="model.select(user._id)"-->
                            <!--class="btn btn-info">Select</button>-->
                    <!--<button ng-click="model.remove(user._id)"-->
                            <!--class="btn btn-danger">Remove</button>-->
                <!--</td>-->
            </tr>
            </tbody>

        </table>
    </div>
</div>