<div class="main page-offset">
    <div class="form-panel col-xs-10 col-sm-6 col-md-4 col-centered">
        <h3>Profile</h3>
        <div class="form-holder">
            <form action="">
                <div class="form-group">
                    <label>Username: </label>
                    {{model.username}}
                </div>
                <div class="form-group">
                    <label>First Name: </label>
                    {{model.firstname}}
                </div>
                <div class="form-group">
                    <label>Last Name: </label>
                    {{model.lastname}}
                </div>
                <div class="form-group">
                    <label>Email: </label>
                    {{model.email}}
                </div>

            </form>
        </div>
    </div>
</div>